MyDemoAppWinClient/MyDemoAppWinClient/Web References/localhost/MathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.timrobinson41tests.com/DemoProject" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.timrobinson41tests.com/DemoProject" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.timrobinson41tests.com/DemoProject">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfoHeader" type="tns:UserInfoHeader" />
      <s:complexType name="UserInfoHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCount">
        <s:complexType />
      </s:element>
      <s:element name="GetCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserInfoHeader">
    <wsdl:part name="UserInfoHeader" element="tns:UserInfoHeader" />
  </wsdl:message>
  <wsdl:message name="SubSoapIn">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="SubSoapOut">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="SubUserInfoHeader">
    <wsdl:part name="UserInfoHeader" element="tns:UserInfoHeader" />
  </wsdl:message>
  <wsdl:message name="GetCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="GetCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountUserInfoHeader">
    <wsdl:part name="UserInfoHeader" element="tns:UserInfoHeader" />
  </wsdl:message>
  <wsdl:portType name="MathServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:input message="tns:SubSoapIn" />
      <wsdl:output message="tns:SubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input message="tns:GetCountSoapIn" />
      <wsdl:output message="tns:GetCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathServiceSoap" type="tns:MathServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://www.timrobinson41tests.com/DemoProject/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:AddUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap:operation soapAction="http://www.timrobinson41tests.com/DemoProject/Sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://www.timrobinson41tests.com/DemoProject/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCountUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetCountUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MathServiceSoap12" type="tns:MathServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://www.timrobinson41tests.com/DemoProject/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap12:operation soapAction="http://www.timrobinson41tests.com/DemoProject/Sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap12:operation soapAction="http://www.timrobinson41tests.com/DemoProject/GetCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCountUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCountUserInfoHeader" part="UserInfoHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="MathServiceSoap" binding="tns:MathServiceSoap">
      <soap:address location="http://localhost:54524/MathService.asmx" />
    </wsdl:port>
    <wsdl:port name="MathServiceSoap12" binding="tns:MathServiceSoap12">
      <soap12:address location="http://localhost:54524/MathService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>